@model ForgotPasswordViewModel

@{
    Layout = "_AuthLayout";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@Т.ForgotPasswordTitle</h1>
</div>
<form class="user" asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <input asp-for="Email"
               class="form-control form-control-user"
               aria-describedby="emailHelp"
               placeholder="@Т.EmailPlaceholderText">
        <span class="text-danger text-small" asp-validation-for="Email"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        @Т.SendResetRequestButtonText
    </button>
</form>
<hr>
<div class="text-center">
    <a class="small" href="@Url.Action("Login")">@Т.IRememberedMyPasswordLinkText</a>
</div>