@model ResetPasswordViewModel
@{
    Layout = "_AuthLayout";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@Т.ResetPasswordTitle</h1>
</div>
<form class="user" asp-action="ResetPassword" asp-route-email="@Model.Email" asp-route-token="@Model.Token" method="post">
    <input asp-for="Email" type="hidden">
    <input asp-for="Token" type="hidden">
    <div class="form-group">
        <input type="password"
               asp-for="Password"
               class="form-control form-control-user"
               placeholder="@Т.PasswordPlaceholderText">
        <span class="text-danger text-small" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <input type="password"
               asp-for="ConfirmPassword"
               class="form-control form-control-user"
               placeholder="@Т.ConfirmPasswordPlaceholderText">
        <span class="text-danger text-small" asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        @Т.ResetPasswordButtonText
    </button>
</form>